
body{
background-color: white;

}

div{
    height: 600px;
    width: 600px;
    border-width: 10px;
    border-top-width: 5px;
    border-bottom-width: 7px;
    border-right-width: 15px;


    border-color:aqua;
    border-style: solid;
    background-color: white;
}
button{
    background-color: orange;
    color: white;
    border-color: orange;
    font-size:xx-large;
    margin: 20px auto;
    display: block;
}